  @font-face {
    font-family: 'NespressoLucas-Regular';
    src: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/NespressoLucas-Regular.woff') format('woff'), url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/NespressoLucas-Regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'NespressoLucas-Bold';
    src: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/NespressoLucas-Bold-April.woff') format('woff'), url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/NespressoLucas-Bold-April.ttf') format('ttf');
  }

  html {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    /* width: 100%;
    min-height: 100vh; */
    overflow-x: hidden;
    /* display: table; */
  }

  /* #footer {
    display: table-footer-group;
    height: 1px;
  } */
  .bg-black {
    background-color: #000000;
  }

  .bg-beige {
    background-color: #deddda;
  }

  .text-gold {
    color: #cd9f04 !important;
  }

  h1,
  h2 {
    font-family: 'NespressoLucas-Bold', 'LucasBold', Arial, sans-serif;
    font-weight: 600;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-family: 'NespressoLucas-Regular', 'LucasRegular', Arial, sans-serif;
    font-size: 18px;
  }

  #goldStrip {
    height: 5px;
  }

  .background-fallback {
    z-index: -15;
    height: 600px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
  }

  #heroWrap {
    height: 600px;
    overflow: hidden;
  }

  .gradient-overlay {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    position: absolute;
    bottom: 0;
  }

  #heroWrap h1 {
    font-size: 45px;
    letter-spacing: 4px;
    font-family: 'NespressoLucas-Bold', Arial, sans-serif;
    font-weight: 600;
  }

  #heroWrap h2 {
    font-size: 32px;
    letter-spacing: 6px;
    font-family: 'NespressoLucas-Regular', 'LucasRegular', Arial, sans-serif;
    font-weight: 600;
  }

  .divider {
    width: 60px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .sup {
    position: relative;
    top: 0;
    font-size: 50%;
    vertical-align: top;
    font-weight: normal;
  }

  .mob-show {
    display: none !important;
  }

  .strong {
    font-weight: 600;
  }

  .max-content-width {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    padding: 10px 20px;
    min-width: 180px;
    border: none;
    outline: none;
    border-radius: 0px;
    font-family: 'NespressoLucas-Bold', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .btn-gold {
    background-color: #454a54;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-gold:hover,
  .btn-gold:active {
    background-color: #cd9f04;
    color: #ffffff;
  }

  #footer p {
    font-size: 10px;
    line-height: 15px;
  }

  #footer p a {
    color: #ffffff;
    text-decoration: none;
  }

  #footer p a:hover {
    text-decoration: underline;
  }

  #footer .divider {
    width: 35px;
    height: 4px;
  }

  .question-container,
  #containerSuggestion {
    display: none;
    position: relative;
    top: 0;
    left: 100%;
  }

  #contentWrap,
  #contentWrap .row {
    min-height: 390px;
    /* overflow: hidden; */
  }

  .nav-wrapper {
    display: block;
    display: table;
    margin: 0 auto;
  }

  .square {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #cd9f04;
    background-color: rgba(0, 0, 0, 0);
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes fillNav {
    from {
      background-color: rgba(0, 0, 0, 0);
    }

    to {
      background-color: rgba(205, 159, 4, 1);
    }
  }

  /* Standard syntax */
  @keyframes fillNav {
    from {
      background-color: rgba(0, 0, 0, 0);
    }

    to {
      background-color: rgba(205, 159, 4, 1);
    }
  }

  .fill-nav {
    animation: fillNav 0.5s;
    -webkit-animation-name: fillNav;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: fillNav;
    animation-duration: 0.5s;
  }

  .nav-line {
    width: 30px;
    height: 0px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cd9f04;
  }

  .init-hide {
    display: none;
  }

  .heroImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
  }

  #headerIntro h1, #headerIntro h2 {
    opacity: 0;
  }

  #heroImageStart {
    background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/momento-web-4.png');
    z-index: -10;
    display: block;
    opacity: 1;
  }

  #heroImage1 {
    background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-1-low-c.png');
    z-index: -9;
  }

  #heroImage2 {
    background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-2-low-c.png');
    z-index: -8;
  }

  #heroImage3 {
    background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-3-low-c.png');
    z-index: -7;
  }

  #heroImage4 {
    background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-4-low-c.png');
    z-index: -6;
  }

  #heroImageFinal {
    background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-final-low-c.png');
    z-index: -5;
  }

  .bg-gold {
    background-color: #cd9f04;
  }

  #headerSuggestion {
    position: absolute;
    top: 70px;
    left: 0;
  }

  .border-gold {
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #cd9f04;
    font-family: 'NespressoLucas-Bold', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #454a54;
  }

  .gold-link {
    padding: 10px 20px;
    width: 100%;
    background-color: #454a54;
    font-family: 'NespressoLucas-Bold', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff !important;
    display: block;
    transition: background-color 0.3s;
  }

  .gold-link:hover,
  .gold-link:active {
    background-color: #cd9f04;
    color: #ffffff;
    text-decoration: none !important;
  }

  .machine-btn-wrap {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #machineReveal {
    width: 100%;
    display: block;
  }

  .overflow-none {
    overflow: hidden !important;
    height: 390px !important;
  }

  #mugImg {
    height: 280px !important;
  }

  @media only screen and (max-width: 768px) {
    .mob-hide {
      display: none !important;
    }

    #heroWrap {
      height: 420px;
    }

    #heroWrap h1 {
      font-size: 32px !important;
      line-height: 38px !important;
    }

    #heroWrap h2 {
      font-size: 20px !important;
      line-height: 26px !important;
    }

    h2 {
      font-size: 24px !important;
      line-height: 30px !important;
    }

    p {
      font-family: 'NespressoLucas-Regular', 'LucasRegular', Arial, sans-serif;
      font-size: 16px;
      line-height: 24px;
    }

    .mob-show {
      display: block !important;
    }

    .gradient-overlay {
      height: 260px;
    }

    #logo {
      width: 120px;
    }

    .divider {
      width: 45px;
    }

    .heroImage {
      height: 420px;
    }

    #headerSuggestion {
      top: 30px;
    }

    #mugImg {
      height: 200px !important;
    }

    #contentWrap,
    #contentWrap .row {
      height: auto !important;
    }

    .machine-btn-wrap {
      justify-content: center !important;
    }

    .machine-icon {
      width: 100px !important;
    }

    .machine-sec {
      width: 100%;
    }

    #headerIntro>h2>span {
      top: -3px;
    }
  }

  @media only screen and (max-width: 768px) {
    #heroImageStart {
      background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/momento-tab.png');
    }
  }

  @media only screen and (max-width: 425px) {
    #heroImageStart {
      background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/momento-mob.png');
    }

    #heroImage1 {
      background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-1-low-mob.png');
    }

    #heroImage2 {
      background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-2-low-mob.png');
    }

    #heroImage3 {
      background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-3-low-mob.png');
    }

    #heroImage4 {
      background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-4-low-mob.png');
    }

    #heroImageFinal {
      background-image: url('https://www.nespresso.com/shared_res/mos/free_html/uk/quiz-page/banner-final-low-mob.png');
    }

    #heroWrap h1 {
      font-size: 26px !important;
      line-height: 31px !important;
    }

    .gradient-overlay {
      height: 275px;
    }

    #mugImg {
      height: 160px !important;
    }

    .gold-link {
      font-size: 12px;
      line-height: 18px;
    }
  }

  /* Amends */
  #question3Answer1, #question3Answer2 {
    min-width: 285px;
  }

  @media only screen and (max-width: 365px) {

    /* Amends */
    #question3Answer1, #question3Answer2 {
      min-width: auto;
    }
  }

  /* Amends 15/04/2020 */
  #contactUs, #reloadCTA {
    width: 100%;
    max-width: 415px;
  }

  #productDetail {
    max-width: 700px;
  }

  #productDetail p:last-of-type {
    margin-bottom: 0;
  }

  #question2Answer1,
  #question2Answer2 {
    min-width: 341px;
  }

  #question3Answer1,
  #question3Answer2 {
    min-width: 285px;
  }

  @media only screen and (max-width: 900px) {
    #mugImg {
      height: 200px !important;
    }

    .mob-hide-br {
      display: none !important;
    }
  }

  @media only screen and (max-width: 600px) {
    #answerDivider {
      display: none !important;
    }
  }

  @media only screen and (max-width: 440px) {

    #heroWrap,
    .heroImage {
      height: 450px !important;
    }

    #mugImg {
      height: 170px !important;
    }

    #question2Answer1,
    #question2Answer2 {
      min-width: auto;
    }
  }

  @media only screen and (max-width: 360px) {
    #answerDivider {
      display: block !important;
    }

    #heroWrap h2 {
      font-size: 17px !important;
      line-height: 22px !important;
    }
  }

  @media only screen and (max-width: 340px) {

    #question3Answer1,
    #question3Answer2 {
      min-width: auto;
      width: 94%;
    }
  }

  /* Amends */
  .prev {
    font-size: 14px;
    position: relative;
    top: 40px;
    transition: color 0.2s;
    cursor: pointer;
    width: 100px;
  }

  .prev:hover {
    color: #cd9f04;
  }

  #suggestionImage {
    position: relative;
  }

  .intensity-wrap {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30px;
  }

  .intensity-bar {
    border: 1px solid #ffffff;
    width: 150px;
    height: 12px;
    display: inline-block;
  }

  .intensity-number {
    font-family: 'NespressoLucas-Bold', Arial, sans-serif;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    margin-right: 15px;
  }

  .intensity-fill {
    height: 10px;
    width: 0px;
    background-color: #ffffff;
  }

  @media only screen and (max-width: 573px) {
    .intensity-wrap {
      bottom: -5px;
      padding-right: 0px;
    }

    .intensity-number {
      position: relative;
      top: 5px;
    }

    .intensity-fill {
      height: 8px;
    }

    .intensity-bar {
      height: 10px;
    }
  }

  @media only screen and (max-width: 992px) {
    #question2Answer3, #question2Answer2, #question2Answer1 {
      width: 96%;
      max-width: 380px;
    }
  }
